/dts-v1/;
#include "allwinner/sun8i-h3.dtsi"       // This provides the CPU frequencies and EMAC/SPI/UART definitions
#include "allwinner/sunxi-common-regulators.dtsi"

/ {
    model = "BinkyDCC Orange Pi Zero";
    compatible = "alwinner,sun8i-h2-plus";

    /* ... your aliases and chosen nodes ... */
};

/* --- UART0 --- */
&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_pa_pins>;
    status = "okay";
};

/* --- Ethernet --- */
&emac {
    /* We use the label 'int_mii_phy' which is already defined in the dtsi */
    phy-handle = <&int_mii_phy>;
    phy-mode = "mii";
    allwinner,leds-active-low;
    status = "okay";
};

/* --- SPI1 --- */
&spi1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins>;
};
