/dts-v1/;
#include "allwinner/sun8i-h3.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/sun8i-h3-ccu.h>
#include <dt-bindings/reset/sun8i-h3-ccu.h>

/ {
    model = "BinkyDCC Orange Pi Zero v0.0.6";
    /* compatible = "allwinner,sun8i-h2-plus", "allwinner,sun8i-h3"; */
    compatible = "allwinner,sun8i-h3";

    aliases {
        serial0 = &uart0;
        ethernet0 = &emac;
    };

    chosen {
        stdout-path = "serial0:115200n8";
    };

	reg_vcc_io: vcc3v3 {  /* <--- 'reg_vcc_io:' is the magic label here */
		compatible = "regulator-fixed";
		regulator-name = "vcc-io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

/* Ensure the CPU nodes from the dtsi are activated */
&cpu0 {
    /* The include should provide this, but let's see if the log changes */
    device_type = "cpu";
};

&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_pa_pins>;
    status = "okay";
};

&emac {
    /* * Reference the label already defined in sunxi-h3-h5.dtsi.
     * Do NOT create a new 'int_mii_phy' label in this file.
     */
    phy-handle = <&int_mii_phy>;
    phy-mode = "mii";
    allwinner,leds-active-low;
    status = "okay";
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins>;

    spidev@0 {
        compatible = "rohm,dh2228fv";
        reg = <0>;
        spi-max-frequency = <10000000>;
    };
};

&pio {
	vcc-pa-supply = <&reg_vcc_io>;
};

&ccu {
    status = "okay";
};

&osc24M {
    status = "okay";
};

&cpu0 {
    clocks = <&ccu CLK_CPUX>;
};

&r_i2c {
    status = "okay";

    regulator@65 {
        compatible = "silergy,sy8106a";
        reg = <0x65>;
        regulator-name = "vdd-cpux";
        regulator-min-microvolt = <1000000>;
        regulator-max-microvolt = <1400000>;
        regulator-ramp-delay = <200>;
        regulator-boot-on;
        regulator-always-on;
        /* H3 CPU voltage selection is usually on PL6 */
        fsl,vsel-gpio = <&r_pio 0 6 GPIO_ACTIVE_HIGH>;
    };
};
